@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton',  sans-serif;
}

body {
    height: 100vh;
    background-image: url(/assets/images/background.png);
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/** styling for the logo in the header **/

.logo, .tagLine {
    color: whitesmoke;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    font-size: 50px;
}

.tagLine {
    font-size: 30px;
}

/* grid box styling */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    justify-content: center;
    align-content: center;
    flex-direction: column;
    grid-gap: 2rem;
    perspective: 800px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease;
    transform: rotateY(0deg);
    box-shadow: rgb(139, 136, 136) 0px 5px 15px; /*Black shadow at bottom of each card with blur */ 
}

.face,.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background: rgb(104, 6, 104);
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg); /*Rotate the images to the correct position*/
}

.commandCard {
    transform: rotateY(180deg);
}


.button:hover {
    background: rgb(68, 66, 66);
    text-decoration: none;
}

#reset {
    color: black;
    width: 100%;
}


