body {
    background-color: ghostwhite;
}

/** styling for the logo in the header **/

#logo {
    display: flex;
    justify-content: center;
    
}


.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}